.card {
  width: 600px;
}
h5 {
  text-align: center;
  color: black;
}
h4 {
  text-align: center;
}
h6 {
  text-align: center;
}
h3 {
  text-align: center;
}
.imagen1 {
  width: 300px;
}
.LogoCentral {
  margin-left: 150px;
}

.imagen2 {
  width: 300px;
}
.imagen3 {
  width: 300px;
}
.imagen5 {
  left: 200px;
}
body {
  background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(90, 40, 90, 0.8)),
  url(ima/fondo1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
.body {
  background-image: url("ima/fondo1.jpg");
}